{{- if include "klag.createKafkaSecret" . }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "klag.fullname" . }}-kafka
  labels:
    {{- include "klag.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{ .Values.kafka.secretKeys.jaasConfig }}: {{ .Values.kafka.saslJaasConfig | quote }}
{{- end }}
{{- if include "klag.createOtlpSecret" . }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "klag.fullname" . }}-otlp
  labels:
    {{- include "klag.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{ .Values.metrics.otlp.secretKeys.headers }}: {{ .Values.metrics.otlp.headers | quote }}
{{- end }}
{{- if include "klag.createDatadogSecret" . }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "klag.fullname" . }}-datadog
  labels:
    {{- include "klag.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if .Values.metrics.datadog.apiKey }}
  {{ .Values.metrics.datadog.secretKeys.apiKey }}: {{ .Values.metrics.datadog.apiKey | quote }}
  {{- end }}
  {{- if .Values.metrics.datadog.appKey }}
  {{ .Values.metrics.datadog.secretKeys.appKey }}: {{ .Values.metrics.datadog.appKey | quote }}
  {{- end }}
{{- end }}
